* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
}

@keyframes esmaecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

nav {
  width: 100%;

  box-shadow: 0px 0px 8px gray;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.nav-container img {
  width: 250px;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-ul li {
  display: flex;
  align-items: center;
  list-style: none;
  transition: ease-in-out 0.1s;
}

.nav-ul li:hover {
  color: gray;
}

.nav-ul img {
  border-radius: 50%;
  width: 1.7rem;
}

.nav-ul button {
  border-radius: 8px;
  padding: 8px 13px;
  border: 1px solid transparent;
  background-color: #bfff23;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;

  transition: ease-in-out 0.3s;
}

.nav-ul button:hover {
  background-color: black;
  color: #bfff23;
}

main {
  background-image: url(./assets/img/illustration-website-green.jpg);
  background-repeat: no-repeat;
  background-size: 570px;
  background-position: top right;
  background-position-y: -45px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 80%;
  height: 34rem;
  margin: auto;
  margin-top: 8%;

  animation: esmaecer 1.5s;
}

.main-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-top-description-one {
  font-size: 50px;
  line-height: 55px;
}

.main-top-description-two {
  font-size: 1.1rem;
}

.main-top button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;

  transition: ease-in-out 0.3s;
}

.main-top button:hover {
  background-color: #bfff23;
  color: black;
}

.main-ul {
  display: flex;
  gap: 5%;
}

.main-ul li {
  display: flex;
  gap: 8px;
}

.main-ul img {
  width: 32px;
}

.main-ul p {
  font-size: 14px;
  font-weight: bold;
}

/* SOBRE */

.about {
  background-color: #bfff23;
  padding: 110px 10%;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-description-one {
  font-size: 30px;
  width: 100%;

  animation: esmaecer 2s;
}

.about-description-two {
  font-size: 16px;
  width: 100%;

  animation: esmaecer 2s;
}

.highlight {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 150px 10%;
}

.highlight-top-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.highlight-top-title {
  font-size: 38px;
  width: 100%;
}

.highlight-top-subtitle {
  font-size: 16px;
  width: 500px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card1 {
  width: 220px;
}

.card1-img {
  width: 220px;
  height: 270px;
  background-image: url(./assets/img/illustration-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid black;

  transition: ease-in-out 0.2s;
}

.card1-img:hover {
  transform: scale(1.01);
}

.card1-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.card1-title {
  font-size: 22px;
  font-weight: bold;
}

.card2 {
  width: 220px;
}

.card2-img {
  width: 220px;
  height: 270px;
  background-image: url(./assets/img/illustration-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid black;

  transition: ease-in-out 0.2s;
}

.card2-img:hover {
  transform: scale(1.01);
}

.card2-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.card2-title {
  font-size: 22px;
  font-weight: bold;
}

.card3 {
  width: 220px;
}

.card3-img {
  width: 220px;
  height: 270px;
  background-image: url(./assets/img/illustration-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid black;

  transition: ease-in-out 0.2s;
}

.card3-img:hover {
  transform: scale(1.01);
}

.card3-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.card3-title {
  font-size: 22px;
  font-weight: bold;
}

.card4 {
  width: 220px;
}

.card4-img {
  width: 220px;
  height: 270px;
  background-image: url(./assets/img/illustration-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 2px solid black;

  transition: ease-in-out 0.2s;
}

.card4-img:hover {
  transform: scale(1.01);
}

.card4-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.card4-title {
  font-size: 22px;
  font-weight: bold;
}
